@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* global css */
/* app-breadcrumb */
.app-breadcrumb {
    background-color: var(--bs-warning);
    padding: 1rem 0;
}

.app-breadcrumb .breadcrumb {
    margin-bottom: 0;
}

.app-breadcrumb .breadcrumb .breadcrumb-item {
    font-weight: 500;
    color: var(--bs-white);
    text-transform: capitalize;
}

.app-breadcrumb .breadcrumb .breadcrumb-item a {
    color: var(--bs-white);
    text-decoration: none;
}

.app-breadcrumb .breadcrumb .breadcrumb-item.active {
    color: rgba(255, 255, 255, 0.80);
}

.app-breadcrumb .breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    color: var(--bs-white);
}

.web-heading h2 {
    font-weight: 700;
}

.web-heading p {
    color: var(--bs-secondary);
}

/* hero-header */
.hero-header {
    padding: 4rem 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--bs-white);
}

.hero-header h1 {
    font-weight: 700;
}

.hero-header p {
    margin-bottom: 0;
}

/* end global css */
/* app-navbar */
.app-navbar {
    border-bottom: 1px solid var(--bs-border-color);
    background-color: var(--bs-white);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.app-navbar .navbar .navbar-brand img {
    height: 3rem;
}

.app-navbar .navbar .navbar-nav {
    gap: 0 .50rem;
}

.app-navbar .navbar .nav-link img {
    height: 1.50rem;
}

.app-navbar .navbar .nav-item .nav-link {
    font-size: 14px;
    font-weight: 500;
}

.app-navbar .navbar .nav-item .nav-link .bx {
    font-size: 2rem;
    color: var(--bs-blue);
}

.app-navbar .dropdown .dropdown-toggle.show::after {
    transform: rotate(180deg);
}

.app-navbar .navbar-nav .nav-item .nav-link.dropdown-toggle::after {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    content: "\f078";
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    font-weight: 900;
    margin-left: 4px;
    transition: transform 0.2s;
    vertical-align: 0;
}

.app-navbar .navbar-nav .nav-item.dropdown:last-child .nav-link.dropdown-toggle::after {
    display: none !important;
}

.app-navbar .navbar .navbar-nav .dropdown {
    position: unset;
}

.app-navbar .navbar .collapse .navbar-nav .dropdown .dropdown-menu {
    border: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.04);
    width: 100%;
    border-radius: 0;
    background-color: var(--bs-white);
    top: 100%;
    margin-top: 0 !important;
    animation: animdropdown 0.4sease-in-out 0s 1 normal forwards;
}

.app-navbar .navbar .collapse .navbar-nav .dropdown .dropdown-menu.show {
    border: 0;
}

.app-navbar .navbar .collapse .navbar-nav .dropdown .dropdown-menu[data-bs-popper] {
    margin: 0;
}

.app-navbar .navbar .collapse .navbar-nav .dropdown .dropdown-menu .nav {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    overflow-x: scroll;
}
.app-navbar .navbar .collapse .navbar-nav .dropdown .dropdown-menu .nav-pills .nav-link{
    color: var(--bs-dark);
    text-align: start;
}

.app-navbar .navbar .collapse .navbar-nav .dropdown .dropdown-menu .nav-pills .nav-link.active {
    background-color: var(--bs-blue)!important;
    color: var(--bs-white) ;
}
.app-navbar .navbar .collapse .navbar-nav .dropdown .dropdown-menu .menu-tab{
  background-color: var(--bs-light);
  width: 100%;
  padding: 1rem;
}
.app-navbar .navbar .collapse .navbar-nav .dropdown .dropdown-menu .menu-tab .tab-content .tab-pane ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.app-navbar .navbar .collapse .navbar-nav .dropdown .dropdown-menu .menu-tab .tab-content .tab-pane ul li{
    margin: .50rem 0;
}
.app-navbar .navbar .collapse .navbar-nav .dropdown .dropdown-menu .menu-tab .tab-content .tab-pane ul li a{
    color: var(--bs-dark);
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
    opacity: .9;
}
.app-navbar .navbar .collapse .navbar-nav .dropdown .dropdown-menu .menu-tab .tab-content .tab-pane ul li a:hover{
    color: var(--bs-blue);
}
.app-navbar .navbar .collapse .navbar-nav .dropdown .dropdown-menu li a{
    font-size: 14px;
    font-weight: 500;
}


/* hero-section */
.hero-section {
    margin: 3rem 0 0 0;
}

.hero-section h1 {
    font-size: 2rem;
    font-weight: 800;
    line-height: 40px;
}

.hero-section h1 span {
    color: var(--bs-warning);
}

.hero-section ul {
    padding: 0;
    list-style: none;
    display: flex;
    gap: .5rem;
    margin-bottom: 0;
    flex-wrap: wrap;
}

.hero-section ul li .btn {
    white-space: nowrap;
    font-size: 14px;
}

.hero-section .hero-search {
    position: relative;
    margin: 2.5rem 0 1rem 0;
}

.footer .hero-search {
    position: relative;
}

.hero-section .hero-search .search-hero-icon,
.footer .hero-search .search-hero-icon {
    background: var(--bs-blue) !important;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 25%);
    border: 0;
    border-radius: var(--bs-border-radius-lg);
    position: absolute;
    top: 0;
    right: 0;
    text-transform: uppercase;
    color: var(--bs-white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-section .hero-search .search-hero-icon i,
.footer .hero-search .search-hero-icon i {
    font-size: 26px;
}

.hero-section .hero-search .form-control,
.footer .hero-search .form-control {
    border-radius: var(--bs-border-radius-lg);
    border: 0;
    background-color: rgba(239, 164, 52, 0.16);
    box-shadow: none;
    height: 55px;
    font-size: 1rem;
    padding-left: 3rem;
}

.hero-section .hero-search .search-icon,
.footer .hero-search .search-icon {
    position: absolute;
    transform: translateY(-50%);
    left: 0;
    top: 50%;
    font-size: 30px;
    color: #ADAAAF;
    margin-left: 1rem;
}

/* major-services */
.major-services {
    padding: 3rem 0;
    background-color: var(--bs-light);
}

.major-services .nav {
    flex-direction: column;
    gap: 1rem;
    overflow-x: scroll;
    margin-top: 1rem;
}

.major-services .web-heading {
    text-align: center;
}

.major-services .nav::-webkit-scrollbar {
    display: none;
}

.major-services .nav-pills .nav-link {
    font-size: 18px;
    font-weight: 600;
    color: var(--bs-secondary);
    text-align: left;
    border-bottom: 1px solid #B6B6B6;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    text-wrap: nowrap;
}

.major-services .nav-pills .nav-link.active {
    background-color: transparent !important;
    color: var(--bs-warning);
}
.major-services .tab-content .item{
   display: flex;
}

.major-services .tab-content .card {
    border: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 0 100px 0 0;
    background-color: var(--bs-blue);
}

.major-services .tab-content .card .card-body {
    padding: 2rem;
}

.major-services .tab-content .card .card-body .card-title {
    font-size: 20px;
    font-weight: 600;
}

.major-services .tab-content .card .card-body .card-title,
.major-services .tab-content .card .card-body .card-text {
    color: var(--bs-white);
}

.major-services .card .card-body .btn {
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    justify-content: center;
    font-weight: 500;
    margin-bottom: -3rem;
}

.major-services .card .card-body .btn i {
    font-size: 20px;
}

.major-services .owl-stage {
    padding: 1rem 0;
}

/* end */
/* why-choose-us */
.why-choose-us {
    padding: 3rem 0;
    background: radial-gradient(rgba(3, 77, 130, 0.9), rgba(3, 77, 130, 0.9)), url('../img/career.png'), url(../img/why-choose-us.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.why-choose-us .web-heading {
    text-align: center;
    margin-bottom: 2rem;
}

.why-choose-us .web-heading h5 {
    color: var(--bs-warning);
    font-weight: 600;
    text-transform: uppercase;
}

.why-choose-us .web-heading h2 {
    color: var(--bs-white);
    font-weight: 700;
    margin-bottom: 1rem;
}

.why-choose-us ul {
    column-count: 2;
    padding: 0;
    margin: 0;
    list-style: none;
    color: var(--bs-white);
}

.why-choose-us ul hr {
    width: 60%;
    border-top: 3px solid var(--bs-warning);
    opacity: 1;
}

.why-choose-us ul li {
    display: flex;
    align-items: center;
    gap: 0.50rem;
}

.why-choose-us ul h5 {
    margin-bottom: 0;
    font-size: 1.2rem;
    font-weight: 600;
}

.why-choose-us .card {
    box-shadow: var(--bs-box-shadow-sm);
}

.why-choose-us ul li .text {
    display: flex;
    padding-bottom: .5rem;
    align-items: center;
    gap: 1rem;
    border-bottom: 4px solid var(--bs-warning);
}

.why-choose-us ul li .text h5 {
    color: var(--bs-white);
    font-weight: 600;
    margin: 0;
}

.why-choose-us .card {
    border: 0;
    border-radius: 0;
}

.why-choose-us .card .card-body {
    text-align: center;
}

.why-choose-us .card .card-body img {
    margin-bottom: 1rem;
}

.why-choose-us .card .card-body .card-title {
    font-size: 2rem;
    font-weight: 600;
}

/* end */
.working-process .web-heading,
.news-update .web-heading {
    text-align: center;
    margin-bottom: 2rem;
}

/* end */
/* home-about */
.home-about {
    margin: 5rem 0 3rem 0;
}

.home-about .card {
    background-color: #EEEEEE;
    border: 0;
    border-radius: 0;
}

.home-about .card .card-body {
    padding: 2rem;
}

.home-about .card .card-body h3 {
    font-weight: 600;
}

.home-about .card .card-body .card-text {
    color: var(--bs-secondary);
    font-size: 14px;
}

.home-about .card .card-body .card-title .high-light {
    background-color: var(--bs-warning);
    color: var(--bs-white);
    padding: .2rem;
}

.home-about .btn {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
}

/* end */
/* working-process */
.working-process {
    margin: 3rem 0;
}

.working-process .web-heading h5 {
    color: var(--bs-warning);
    text-transform: uppercase;
    font-weight: 600;
}

.working-process .web-heading h2 {
    margin-bottom: 1rem;
}

.working-process .card {
    border: 0;
    padding: 1rem;
}

.working-process .card .card-body {
    text-align: center;
}

.working-process .card .card-body img {
    height: 3rem;
}

.working-process .card .card-body .card-title {
    color: var(--bs-white);
    margin: 1rem 0 0 0;
}

/* end */
/* news-update */
.news-update {
    padding: 3rem 0;
}

.news-update .web-heading h5 {
    color: var(--bs-warning);
    text-transform: uppercase;
    font-weight: 600;
}

.news-update .web-heading h2 {
    margin-bottom: 2rem;
}

.news-update .card {
    border-radius: var(--bs-border-radius-xl);
    border: 0;
    overflow: hidden;
    box-shadow: var(--bs-box-shadow);
}

.news-update .card img {
    transition: transform 0.3s ease-in-out; /* Smooth zoom effect */
    width: 100%; /* Ensures it covers the card */
}

.news-update .card:hover img {
    transform: scale(1.1);
}

.news-update .card .card-body .card-title {
    font-size: 1rem;
}

.news-update .card .card-body .card-text {
    color: var(--bs-secondary);
    font-size: 14px;
}

.news-update .card .card-body .card-text .btn {
    color: var(--bs-white);
}

/* end */
/* testimonial */
.testimonial {
    position: relative;
    padding: 3rem 0;
    background-image: url(../img/testi.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.testimonial::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(246, 246, 246, 0.8);
    z-index: 1;
}
.testimonial>* {
    position: relative;
    z-index: 2;
}

.testimonial .web-heading{
    margin-bottom: 2rem;
}
.testimonial .web-heading h5 {
    color: var(--bs-warning);
}

/* .testimonial .owl-carousel .owl-item {
    opacity: .2;
    transform: scale3d(0.8, 0.8, 1);
    transition: all 0.3s ease-in-out;
} */

.testimonial .owl-carousel .owl-item.active.center {
    opacity: 1;
    transform: scale3d(1.0, 1.0, 1);
}

.testimonial .owl-item.active.center .card{
    background-color: var(--bs-blue);
}

.testimonial .owl-item.active.center .card .card-body .card-title,
.testimonial .owl-item.active.center .card .card-body .card-text,
.testimonial .owl-item.active.center .card .card-body .user{
    color: var(--bs-white);
}

.testimonial .owl-carousel .owl-item .card {
    border: 0;
    box-shadow: var(--bs-box-shadow-sm);
}

.testimonial .owl-carousel .owl-item .card .card-body {
    padding: 1rem;
}

.testimonial .owl-carousel .owl-item .card .card-body .card-title{
    margin: 0;
    font-size: 16px;
}

.testimonial .owl-carousel .owl-item .card .card-body .card-text {
    color: var(--bs-secondary);
}

.testimonial .owl-carousel .owl-item .card .card-body ul {
    list-style: none;
    margin: 0;
    display: flex;
    padding: 0;
    gap: 1rem;
}

.testimonial .owl-carousel .owl-item .card .card-body ul li img {
    height: 3rem;
    border-radius: 50%;
}

.testimonial .owl-carousel .owl-item .card .card-body ul li .user {
    color: var(--bs-secondary);
    font-size: 14px;
    margin: 0;
}

/* end */
/* home-contact */
.home-contact {
    position: relative;
    padding: 3rem 0;
    background-image: url(../img/contact-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.home-contact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.9) 55.32%, rgba(255, 255, 255, 0) 100%);
    pointer-events: none;
    z-index: 1;
}

.home-contact>* {
    position: relative;
    z-index: 2;
}

.home-contact .card {
    border-radius: 0 !important;
    border: 0;
}

.home-contact .card .card-body {
    padding: 2rem;
}

.home-contact .card .card-body h3 {
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.home-contact form .form-label {
    font-weight: 500;
    margin: 0 0 4px 0rem;
    font-size: 14px;
}

.home-contact form .form-label span {
    color: var(--bs-red);
}

.home-contact form .form-control {
    border-radius: 2px !important;
    font-size: 14px;
}

.home-contact form .btn {
    border-radius: 2px !important;
    width: 100%;
}

/* end */
.office-address {
    margin: 3rem 0;
}

.office-address .card {
    border: 0;
}

.office-address .card .card-body {
    padding: 2rem;
}

.office-address .card .card-body .card-title {
    color: var(--bs-white);
}

.office-address .card .card-body ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.office-address .card .card-body ul li {
    display: flex;
    align-items: start;
    gap: 1rem;
    margin-bottom: 1rem;
}

.office-address .card .card-body ul li:last-child {
    margin: 0;
}

.office-address .card .card-body ul li p {
    font-weight: 500;
    color: var(--bs-white);
    margin: 0;
}

.office-address .card .card-body ul li a {
    color: var(--bs-white);
    font-weight: 500;
    text-decoration: none;
}

/* end */
/* client slider */
/* partner slider */
.slider-client {
    margin: auto;
    overflow: hidden;
    position: relative;
    margin-bottom: 8rem;
}

.slider-client .web-heading {
    text-align: center;
    margin-bottom: 1rem;
}

.slider-client .web-heading h3 {
    font-weight: 600;
}

.slider-client .web-heading h3 span {
    color: var(--bs-warning);
}

.slider-client:hover img {
    filter: grayscale(0) !important;
    -webkit-filter: grayscale(0) !important;
}

.slider-client::before,
.slider-client::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 100px;
    z-index: 2;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.slider-client::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider-client::before {
    left: 0;
    top: 0;
}

.slider-client .slide-track {
    display: flex;
    animation: scroll 30s linear infinite;
    width: calc(250px * 14);
}

.slider-client .slide {
    width: 250px;
    height: 100px;
    flex-shrink: 0;
}

.slider-client .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease;

}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}

/* end */
/* footer */
.footer {
    position: relative;
    background-image: radial-gradient(rgba(3, 77, 130, 0.9), rgba(3, 77, 130, 0.9)), url(../img/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem 0 0 0;
    color: var(--bs-white);
}

.footer .footer-about .socail-media ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 1rem;
    margin-top: 1rem;
}

.footer .footer-about .socail-media ul li a {
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--text-color);
    text-decoration: none;
    border: 2px solid var(--bs-white);
    transition: ease-in 0.2s;
}

.footer .footer-about .socail-media ul li a:hover {
    background-color: var(--bs-warning);
    border-color: var(--bs-warning);
}

.footer .footer-about p {
    font-size: 14px;
    margin-bottom: 0;
}

.footer .footer-links ul,
.footer .footer-touch ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
}

.footer .footer-links ul li a {
    text-decoration: none;
    color: var(--bs-white);
    text-transform: capitalize;
}

.footer .footer-links .h5,
.footer .services-links .h5 {
    text-transform: capitalize;
}

.footer .services-links h5 {
    margin-bottom: 1rem;
}

.footer hr {
    width: 30%;
    border-color: var(--bs-warning);
    opacity: 1;
    border-width: 0.10rem;
    border-radius: var(--bs-border-radius-pill);
}

.footer .footer-touch ul li {
    display: flex;
    gap: 1rem;
}

.footer .footer-touch ul li img {
    height: 2rem;
    border-radius: var(--bs-border-radius-sm);
}

.footer .footer-touch ul li a {
    text-decoration: none;
    color: var(--bs-white);
}

.footer .footer-links ul li a,
.footer .footer-touch ul li a,
.footer .services-links ul li a {
    transition: all .4s ease-in-out;
}

.footer .footer-touch ul li a:hover,
.footer .footer-links ul li a:hover,
.footer .services-links ul li a:hover {
    color: var(--bs-warning);
}

.footer .footer-touch ul li p {
    margin-bottom: 0;
}

.footer .services-links ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.50rem;
}

.footer .services-links ul li a {
    border: 1px solid rgba(255, 255, 255, 0.2);
    text-decoration: none;
    padding: 0.25rem 0.75rem;
    font-size: 14px;
    border-radius: var(--bs-border-radius-lg);
    color: var(--bs-white);
    text-transform: capitalize;
    background-color: var(--bs-blue);
    display: block;
}


/* .footer .copy-right */
.footer .copy-right {
    margin-top: 1rem;
    background-color: var(--bs-warning);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 1rem 0;
}

.footer .copy-right p {
    margin-bottom: 0;
    color: var(--bs-white);
    font-size: 14px;
}

.footer .copy-right ul {
    list-style: none;
    margin: 0;
    display: flex;
    gap: 0.50rem;
    justify-content: end;
    padding: 0;
}

.footer .copy-right ul li a {
    color: var(--bs-white);
    text-decoration: none;
    font-size: 14px;
}

.footer .news-letter .card .card-body {
    padding: 2rem;
}

.footer .news-letter .card {
    border: 4px solid var(--bs-warning);
    border-radius: 1rem;
}

.footer .news-letter .card h5 {
    font-size: 2rem;
    font-weight: 700;
}

.footer .news-letter .card p {
    color: var(--bs-secondary);
    margin: 0;
}

.footer .news-letter {
    width: 100%;
    margin-top: -8rem;
    margin-bottom: 3rem;
}

/* career */
.career {
    padding: 3rem 0;
    background-color: var(--bs-light);
}

.career .card {
    border-radius: .75rem;
    margin: .5rem 0;
    background-color: var(--bs-box-shadow-sm);
}

.career .card .card-body {
    padding: 2rem;
}

.career .card .card-body .card-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin: 0;
}

.career .card .card-body ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}

.career .card .card-body .job-title {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.career .card .card-body .job-title img {
    height: 2rem;
}

.career .card .card-body .job-dec p {
    margin: 0;
    color: var(--bs-secondary);
    font-size: 14px;
}

.career .card .card-body .job-dec p b {
    color: var(--bs-dark);
}

/* start */
.career-page {
    margin: 3rem 0;
}

.company-overview {
    margin: 3rem 0 8rem 0;
}

.career-page .web-heading,
.company-overview .web-heading {
    text-align: center;
    margin-bottom: 1.5rem;
}

.career-page h3,
.company-overview h3 {
    background-color: var(--bs-warning);
    display: inline-block;
    padding: .50rem;
    font-weight: 600;
    color: var(--bs-white);
}

.career-page h5,
.company-overview h5 {
    margin: .50rem 0;
    font-weight: 600;
}

.career-page p,
.company-overview p {
    color: var(--bs-secondary);
}

/*about-us */
.about-us {
    margin: 3rem 0;
}

.about-us img {
    border-radius: 80px 0 0 0;
}

.about-us hr {
    margin: .5rem 0;
    width: 30%;
    border-color: var(--bs-blue);
    opacity: 1;
    border-width: 0.2rem;
    border-radius: var(--bs-border-radius-pill);
}

.about-us p {
    color: var(--bs-secondary);
}

/* end */
/* about-card */
.about-card {
    margin: 3rem 0;
}

.about-card .card {
    height: 100%;
    background-color: var(--bs-blue);
    border: 0;
    border-radius: 0 70px 0 0;
}

.about-card .card .card-header {
    background-color: var(--bs-warning);
    width: 35%;
    border-radius: 0 0 70px 0;
    padding: 1rem;
}

.about-card .card .card-header img {
    height: 3.5rem;
}

.about-card .card .card-body .card-title {
    text-transform: capitalize;
}

.about-card .card .card-body .card-title,
.about-card .card .card-body .card-text {
    color: var(--bs-white);
}

/* end */
/* why-choos-us */
.why-choos-us {
    background-color: #EEEEEE;
}

.why-choos-us .why-us-text {
    padding: 2rem 2rem 0rem 2rem;
}

.why-choos-us .why-us-text h5 {
    font-size: 1.75rem;
    font-weight: 600;
}

.why-choos-us .why-us-text p {
    color: var(--bs-dark);
}

.why-choos-us .why-us-text hr {
    margin: 0 0 .5rem 0;
    width: 30%;
    border-color: var(--bs-blue);
    opacity: 1;
    border-width: 0.2rem;
    border-radius: var(--bs-border-radius-pill);
}

/* end */
/* counter */
.counter {
    margin: 3rem 0;
}

.counter .card {
    background-color: var(--bs-warning);
    border-radius: var(--bs-border-radius-xl);
    border: 0;
    padding: 2rem;
}

.counter .card ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.counter .card ul li h5 {
    color: var(--bs-white);
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
}

.counter .card ul li p {
    color: var(--bs-white);
    font-size: 14px;
    margin: 0;
}

/* blog-card */
.blog-card {
    margin: 3rem 0 8rem 0;
}
.blog-card .card{
    border: 0;
    height: 100%;
    overflow: hidden;
    box-shadow: var(--bs-box-shadow);
}
.blog-card .card .card-body .card-title{
    font-size: 18px;
}
.blog-card .card .card-body .card-text{
    color: var(--bs-secondary);
    font-size: 14px;
}
.blog-card .card .card-body .card-link{
    align-items: center;
    display: flex;
    font-weight: 500;
    gap: .25rem;
    text-decoration: none;
}
.blog-card .card-body .cardlink i {
    font-size: 20px;
    font-weight: 600;
}
.blog-card .card:hover img {
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
  }
  .blog-card .card-body ul{
    margin: 0;
    padding: 0;
    margin-bottom: .50rem;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
  }

  .blog-card .card-body ul li{
    font-size: 12px;
    font-weight: 500;
  }
  .blog-card .blog-pagination{
    margin-top: 2rem;
  }
  .blog-card .blog-pagination .pagination .page-item{
    border-color: var(--bs-warning);
  }

  .blog-card .blog-pagination .pagination .page-item .page-link{
    color: var(--bs-white);
    box-shadow: none;
    background-color: var(--bs-blue);
    font-weight: 600;
    border-color: var(--bs-white) !important; 
    border-color: var(--bs-warning);
  }

/* contact-us */
.contact-us .list-group .list-group-item {
    display: flex;
    align-items: start;
    gap: 1rem;
    background: transparent;
    padding: 1rem 0;
}

.contact-us .list-group .list-group-item img {
    height: 2.50rem;
    width: 2.50rem;
    border-radius: var(--bs-border-radius);
    border: 1px solid var(--bs-border-color);
}

.contact-us .list-group .list-group-item a {
    text-decoration: none;
}

.contact-us .list-group .list-group-item a,
.contact-us .list-group .list-group-item p {
    color: var(--bs-secondary);
}

.contact-us .list-group .list-group-item p {
    margin-bottom: 0;
}

.contact-us {
    padding: 3rem 0;
    background-color: var(--bs-light);
}

.contact-us .heading-section {
    margin-bottom: 1.50rem;
}

.contact-us .heading-section .heading-title {
    font-weight: 600;
}

.contact-us .enquiry-form .card {
    border: 0;
    box-shadow: var(--bs-box-shadow-sm);
    border-radius: 0;
}

.contact-us .enquiry-form .card .card-body {
    padding: 1.50rem;
}

.contact-us .enquiry-form .card .card-body .card-title {
    margin-bottom: 0;
    font-weight: 700;
}

.contact-us .enquiry-form .card .card-body .form-group .form-label {
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
}

.contact-us .enquiry-form .card .card-body .form-group .form-label span {
    color: var(--bs-danger);
}

.contact-us .enquiry-form .card .card-body .form-group .form-control {
    border-radius: 0;
}

.contact-us .enquiry-form .card .card-body .form-group .btn {
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 0;
}

/* end */
/* map */
.map {
    margin: 2rem 0;
}

.other-offices-locations {
    margin: 2rem 0 8rem 0;
}

.other-offices-locations .web-heading h3 {
    font-weight: 600;
}

/* other-offices-locations */
.other-offices-locations .card {
    border-width: 2px;
    width: 100%;
}

.other-offices-locations .web-heading {
    margin-bottom: 1.5rem;
}

.other-offices-locations .card .card-body .card-title {
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.other-offices-locations .card .card-body .card-text {
    color: var(--bs-secondary);
}

/* client-feedback */
.client-feedback {
    margin: 3rem 0;
}

.client-feedback .card {
    border: 0;
}

.client-feedback .card .card-body {
    text-align: center;
    padding: 1rem;
}

.client-feedback .card .card-body img {
    height: 4rem;
    border: 3px solid var(--bs-warning);
    border-radius: 50%;
    width: 4rem;
    display: unset !important;
}

.client-feedback .card {
    background-color: var(--bs-blue);
}

.client-feedback .card .card-body .card-text {
    color: var(--bs-white);
    margin: 1rem 0;
}

.client-feedback .card .card-body p:last-child {
    margin: 0 !important;
    color: var(--bs-white);
}

/* partner-with-us */
.partner-with-us {
    margin: 3rem 0;
}

.partner-with-us p {
    color: var(--bs-secondary);
}

.partner-with-us ul {
    margin: 1rem 0;
    gap: 1rem;
    padding: 0;
    list-style: none;
    display: flex;
}

/* end */
/* benefits-partner */
.benefits-partner {
    padding: 3rem 0;
    background-color: var(--bs-light);
}

.benefits-partner .web-heading {
    text-align: center;
    margin-bottom: 2rem;
}

.benefits-partner .web-heading h3 {
    font-weight: 600;
}

/* partner-form */
.partner-form .card {
    border-color: var(--bs-warning);
    background-color: var(--bs-blue);
    border-radius: 0 100px 0 0;
    border-width: 3px;
}

.partner-form .card .card-body {
    padding: 2rem;
}

.benefits-partner .partner-form .form-control,
.benefits-partner .partner-form .form-select {
    background-color: var(--bs-blue) !important;
    color: var(--bs-white) !important;
    border: 0;
    border-bottom: 1px solid var(--bs-white);
    border-radius: 0;
}

.benefits-partner .partner-form .form-control::placeholder {
    color: var(--bs-white);
}

.benefits-partner .partner-form .btn {
    padding: 8px 40px;
    font-weight: 600;
    color: var(--bs-blue);
}

.benefits-partner .partner-form p {
    color: var(--bs-white);
    margin: 1rem 0 0 0;
}

.benefits-partner .partner-form p strong {
    color: var(--bs-warning);
}

.benefits-partner .partner-form .form-control:focus,
.benefits-partner .partner-form .form-select:focus {
    box-shadow: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.benefits-partner ul {
    padding: 0;
    list-style: none;
    display: flex;
    gap: .5rem;
    margin-bottom: 0;
    flex-wrap: wrap;
}

.benefits-partner ul li .btn {
    border-radius: var(--bs-border-radius-pill);
    font-size: 14px;
}

.why-us {
    margin: 3rem 0;
}

.why-us .web-heading {
    text-align: center;
    margin-bottom: 1rem;
}

.why-us .web-heading h3 {
    font-weight: 600;
}

.why-us .web-heading h3 span {
    color: var(--bs-warning);
}

.why-us .card {
    background-color: var(--bs-blue);
    border-radius: 0 30px 0 30px;
}

.why-us .card .card-body {
    padding: 2rem;
}

.why-us .card .card-body .card-text {
    color: var(--bs-white);
}

/* Become a member  */
.become-member {
    margin: 3rem 0;
}

.become-member .bacome-member-text {
    background-color: var(--bs-blue);
    padding: 2rem;
    height: 100%;
    width: 100%;
}

.become-member .bacome-member-text h3 {
    color: var(--bs-white);
    margin-top: 2rem;
    font-weight: 600;
    font-size: 2rem;
}

.become-member .bacome-member-text p {
    color: var(--bs-white);
}

.partner-blog {
    margin-bottom: 8rem;
}

/* service-hero */
.service-hero {
    padding: 3rem 0;
    background: radial-gradient(rgba(3, 77, 130, 0.9), rgba(3, 77, 130, 0.9)), url('../img/career.png'), url(../img/why-choose-us.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.service-hero h1 {
    color: var(--bs-white);
    font-weight: 600;
}

.service-hero p {
    color: var(--bs-white);
}

.service-hero .card {
    /* backdrop-filter: blur(10px); */
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0) 100%);
    border: 1px solid linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: var(--bs-border-radius-xl);

}

.service-hero .card .card-body {
    padding: 2rem;
}

.service-hero .card .card-body .card-title {
    color: var(--bs-white);
    margin-bottom: 0;
}

.service-hero .card .card-body form .form-control {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    padding: 0.75rem 0.75rem 0.75rem 0;
    color: var(--bs-white);
    box-shadow: none;
}
.service-hero .card .card-body form .form-group{
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--bs-white);
    gap:0 .50rem;
}
.service-hero .card .card-body form .form-group i{
    color: var(--bs-white);
    font-size: 24px;
}

.service-hero .card .card-body form .form-control::placeholder {
    color: rgba(255, 255, 255, 0.60);
}

.service-hero .card .card-body .btn {
    width: 100%;
    text-transform: uppercase;
}

/* counter-serivce */
.counter-serivce {
    background-color: var(--bs-warning);
}

.counter-serivce ul {
    display: flex;
    margin: 0;
    padding: 1rem 0;
    border-right: 1px solid var(--bs-white);
    align-items: center;
    gap: 1rem;
    list-style: none;
}

.counter-serivce .col:last-of-type ul {
    border-right: 0;
}


.counter-serivce ul li h5 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    color: var(--bs-white);
}

.counter-serivce ul li p {
    color: var(--bs-white);
    font-size: 14px;
    margin: 0;
}

/* services-content */
.services-content {
    margin: 2rem 0;
}

.services-content h4 {
    margin: .50em 0;
    font-weight: 600;
}

.services-content ul li {
    margin: .50rem 0;
}

.services-content table {
    margin: 1rem 0;
}

.services-content .accordion-flush>.accordion-item {
    border: 2px solid var(--bs-light);
    margin: 1rem 0;
    border-radius: 8px !important;
}

.services-content .accordion .accordion-item .accordion-header .accordion-button {
    border-radius: 8px;
    box-shadow: none;
}

.services-content .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
    background-color: var(--bs-blue);
    color: var(--bs-white);
}

/* .services-content .accordion-flush>.accordion-item .accordion-button:focus {
    box-shadow: none !important;
    background-color: var(--bs-blue);
    color: var(--bs-white);
} */

.service-form {
    position: sticky;
    top: 100px;
}
.services-content table tbody tr td {
    font-size: 14px;
}

.services-content .sidebar-navbar,
.services-content .service-form {
    position: sticky;
    top: 100px;
}

.services-content .sidebar-navbar {
    display: flex;
    flex-direction: column;
    gap: 0.50rem;
}

.services-content .sidebar-navbar a {
    text-decoration: none;
    text-transform: capitalize;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: 500;
    background-color: var(--bs-light);
    font-size: 16px;
    color: var(--bs-secondary);
}

.services-content .sidebar-navbar a:hover {
    color: var(--bs-blue);
}

.services-content .sidebar-navbar a.active {
    background-color: var(--bs-blue);
    color: var(--bs-white);
    box-shadow: var(--bs-box-shadow);
}

.service-form .card {
    background-color: var(--bs-blue);
    border-radius: var(--bs-border-radius-lg);
    box-shadow: var(--bs-box-shadow-sm);

}

.service-form .card .card-body {
    padding: 1rem;
    text-align: center;
}

.service-form .card .card-body .card-title {
    font-size: 18px;
    text-align: start;
    color: var(--bs-white);
    font-weight: 600;
}
.service-form .card .card-body form .form-group{
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--bs-white) !important;
}
.service-form .card .card-body form .form-group i{
    font-size: 20px;
    color: var(--bs-white);
}

.service-form .card .card-body form .form-control {
    border: 0 !important;
    border-radius: 0;
    background-color: transparent;
    color: var(--bs-white);
    box-shadow: none;
}
.service-form .card .card-body form .form-control::placeholder{
    color: rgba(255, 255, 255, 0.60);
}

.service-form .card .card-body form .btn {
    padding: 8px 30px !important;
    margin-top: 1rem;
}

.services-faq .accordion .accordion-item .accordion-header .accordion-button {
    border-radius: 0px;
    box-shadow: none;
    font-size: 18px;
    font-weight: 500;
}

.services-faq .accordion .accordion-item {
    border-radius: 2px;
    margin-bottom: 1rem;
    border: 0;
    box-shadow: var(--bs-box-shadow-sm);
}

.services-faq .accordion .accordion-item:last-of-type {
    margin-bottom: 0;
}

.services-faq .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
    background-color: var(--bs-warning);
}

.services-faq .accordion .accordion-item .accordion-collapse .accordion-body {
    color: var(--bs-secondary);
}

.services-faq .accordion .accordion-item .accordion-collapse .accordion-body p:last-of-type {
    margin-bottom: 0;
}

/* service-form */
.service-form .card .card-body .card-title {
    margin-bottom: 0;
}

.testimonial-service {
    margin: 5rem 0;
}
.about-testimonial {
    margin-bottom: 5rem;
}
/* talks-btn */
.talks-btn {
    position: fixed;
    bottom: 0;
    right: 0;
    cursor: pointer;
    z-index: 1000;
    transition: 0.25s ease-in;
    border-radius: var(--bs-border-radius-pill);
    background-color: var(--bs-white);
    overflow: hidden;
    animation: 2s infinite pulse-animation;
    width: 4.5rem;
    height: 4.5rem;
    border: 1px solid var(--bs-border-color);
    margin: 1rem;
}

.talks-btn img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    pointer-events: none;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0 rgb(13 110 253 / 80%);
    }

    100% {
        box-shadow: 0 0 0 10px rgba(230, 95, 70, 0);
    }
}
/* blog-details */
.blog-details{
    margin: 2rem 0;
}
.blog-details img{
    border-radius: 10px;
}
.blog-details h4{
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.blog-details p{
    color: var(--bs-secondary);
}
.blog-details ol li{
    color: var(--bs-secondary);
   margin-bottom: 1rem;
}
.blog-details ol li strong{
    color: var(--bs-dark);
}
/* leave-comment */
.leave-comment{
    margin: 3rem 0 8rem 0;
}
.leave-comment .web-heading{
    margin-bottom: 1rem;
}
.leave-comment .card{
  background-color: var(--bs-blue);
  border-radius: 20px;
}
.leave-comment .card .card-body{
    padding: 2rem;
}
.leave-comment .card .card-body .card-title{
    color: var(--bs-white);
    margin-bottom: 1rem;
}
.leave-comment .card .card-body form .form-group{
    display: flex;
    border-bottom: 2px solid var(--bs-warning);
    align-items: center;
}
.leave-comment .card .card-body form .form-group i{
    font-size: 20px;
    color: var(--bs-white);
}
.leave-comment .card .card-body form .form-group .form-control{
    background-color: transparent;
    border: 0;
    box-shadow: none;
    color: var(--bs-white);
}
.leave-comment .card .card-body form .form-group .form-control::placeholder{
    color: var(--bs-white);
}
.leave-comment .card .card-body .btn{
    padding: 8px 30px;
}
/* career-details */
.career-details{
    margin: 3rem 0 8rem 0;
}
.career-details .card{
    border: 0;
    box-shadow: var(--bs-box-shadow-sm);
}
.career-details .card .card-body .card-title{
    font-size: 20px;
    font-weight: 600;
}
.career-details .card .card-body .card-text{
    color: var(--bs-secondary);
}
.career-details .card .card-body ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.career-details .card .card-body ul li {
    margin-bottom: 1rem;
    color: var(--bs-secondary);
}
.career-details .card .card-body .btn{
    padding: 8px 30px;
}
.career-details .card .card-body .card-link{
    text-decoration: none;
}
.career-details .card .card-body .modal .modal-content .modal-body form .form-label{
    font-weight: 500 !important;
    font-size: 14px;
}
.career-details .card .card-body .modal .modal-content .modal-body form .form-label span{
    color: var(--bs-red);
}